@import '@/app/styles/_mixin';

.CleaningSection8th {
  padding: 130rem 20rem;
  background: var(--ebd-5-c-7, #EBD5C7);

  :global {
    .cleaningSection8th-container {
      max-width: 1060rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cleaningSection8th_b-head {
        text-align: center;
        margin-bottom: 40rem;

        h2 {
          @include H2_30pt_bold;

          &:first-child {
            color: var(--d-29-d-7-e, #D29D7E);
            @include H4_20pt_bold;
          }
        }
      }

      .cleaningSection8th_b-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // margin-bottom: 60rem;

        // CUTOM ANTDTABS
        .ant-tabs {
          display: flex;
          align-items: center;
          width: 100%;

          .ant-tabs-nav {
            margin-bottom: 0;

            &::before {
              display: none;
            }

            .ant-tabs-ink-bar {
              background-color: transparent;
            }

            .ant-tabs-nav-list {
              justify-content: center;
              flex-wrap: wrap;
              gap: 8rem;
              margin-bottom: 20rem;
            }

            .ant-tabs-tab {
              padding: 0;
              margin: 0;
            }

            .ant-tabs-tab .ant-tabs-tab-btn {
              @include P1_18pt_semi;
              color: var(--d-29-d-7-e, #D29D7E);
              width: 106rem;
              padding: 6rem var(--Spacing-2, 8rem);
              border-radius: var(--Spacing-2, 8rem);
              background: var(--f-8-f-1-ec, #F8F1EC);
              box-shadow: var(--drop-shadow2);
              text-align: center;
              min-width: 130rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
              color: var(--ffffff, #FFF);
              background: var(--d-29-d-7-e, #D29D7E);
            }
          }

          .ant-tabs-content-holder {
            display: flex;
            flex-direction: row;
            width: 100%;
          }
        }

        // END CUTOM ANTDTABS
        .tabs-content {
          position: relative;
          min-width: auto;
          display: flex;
          justify-content: space-between;
          border-radius: var(--Spacing-5, 20rem);
          background: var(--ffffff, #FFF);
          box-shadow: var(--drop-shadow1);
          overflow: hidden;
          flex-direction: column;
        }

        .tabs-content-left {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 8rem;
          flex-shrink: 0;
          height: 100%;
          padding: 30rem;
          z-index: 10;

          li {
            display: flex;
            gap: 8rem;
            color: var(--09101-d, #09101D);
            @include P2_16pt_semi;
            z-index: 1;

            img {
              margin-top: 3rem;
            }
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: -webkit-fill-available;
            bottom: -70%;
            transform: rotate(90deg);
            flex-shrink: 0;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 57.25%);
          }
        }

        .tabs-content-right {
          margin-left: auto;
          width: 100%;
          height: auto;
          object-fit: contain;
          margin-top: -80rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .CleaningSection8th {
    padding: 160rem 0;

    :global {
      .cleaningSection8th-container {
        .cleaningSection8th_b-head {
          margin-bottom: 60rem;

          h2 {
            @include H2_48pt_bold;

            &:first-child {
              @include H4_26pt_bold;
              margin-bottom: 8rem;
            }
          }
        }

        .cleaningSection8th_b-body {
          margin-bottom: 0;

          // CUTOM ANTDTABS
          .ant-tabs {
            .ant-tabs-nav {
              .ant-tabs-nav-list {
                padding: 20rem;
              }

              .ant-tabs-tab {
                padding: 0;
              }

              .ant-tabs-tab .ant-tabs-tab-btn {
                @include P1_20pt_semi;
                width: 140rem;
                padding: var(--Spacing-2, 8rem) var(--Spacing-6, 24rem);
              }
            }

            .ant-tabs-content-holder {
              border-radius: var(--Spacing-10, 40rem);
            }
          }

          // END CUTOM ANTDTABS
          .tabs-content {
            border-radius: var(--Spacing-10, 40px);
            min-width: 1060rem;
            min-height: 560rem;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
          }

          .tabs-content-left {
            padding: 50rem 60rem;
            gap: 12rem;
            height: inherit;

            li {
              @include P1_18pt_medium;

              img {
                margin-top: 2rem;
              }
            }

            &:after {
              width: 648rem;
              height: 100%;
              bottom: 0;
              left: 0;
              transform: rotate(0);
              background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 45.78%);
            }
          }

          .tabs-content-right {
            margin-top: 0;
            right: 0;
            position: absolute;
            width: auto;
            height: 560rem;
            object-fit: fill;

            li {
              @include P1_18pt_semi;
            }
          }
        }
      }
    }
  }
}