@import '@/app/styles/_mixin';

.FeaturedPost {
  padding: 48rem 0;
  background: #FFF7EF;

  :global {
    .hero-container {
      padding: 0 20rem;
      max-width: 1280rem;
      margin: 0 auto;
      box-sizing: content-box;
      gap: 32rem;

      .hero_b-left {
        width: 100%;

        img {
          width: 100%;
          height: auto;
          aspect-ratio: 720/480;
          object-fit: cover;
          border-radius: var(--Spacing-5, 20rem);

          &:hover {
            opacity: 0.8;
            transition: .3s ease-in-out;
          }
        }
      }

      .hero_b-right {
        display: flex;
        flex-direction: column;
        gap: 12rem;

        .title {
          @include H1_34pt_bold;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }

        .desc {
          @include P2_18pt_medium;
          color: var(--414751, #414751);
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        }

        .date {
          @include P2_16pt_regular;
          color: var(--a-9-a-9-a-9, #B1B7BD);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .FeaturedPost {
    padding: 120rem 0;

    :global {
      .hero-container {
        display: flex;
        align-items: center;
        gap: 60rem;

        .hero_b-left {
          width: 720rem;

          img {
            width: 720rem;
            height: 480rem;
          }
        }

        .hero_b-right {
          width: calc(100% - 720rem);
          gap: 16rem;

          .title {
            @include H1_56pt_bold;
          }

          .desc {
            @include P1_20pt_medium;
          }

          .date {
            @include P2_18pt_regular;
          }
        }
      }
    }
  }
}

.PostList {
  padding: 60rem 0;
  background: #fff;

  :global {
    .postList-container {
      padding: 0 20rem;
      max-width: 1280rem;
      margin: 0 auto;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      gap: 32rem;

      .postList-head {
        h2 {
          @include H4_30pt_bold;
        }

        p {
          @include P1_20pt_medium;
          color: var(--798087, #798087);
        }
      }

      .postList-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 32rem;

        article {
          img {
            width: 100%;
            height: auto;
            aspect-ratio: 400/266;
            border-radius: var(--Spacing-5, 20rem);
            margin-bottom: 16rem;
            object-fit: cover;

            &:hover {
              opacity: 0.8;
              transition: .3s ease-in-out;
            }
          }

          h4 {
            @include H4_20pt_bold;
            margin-bottom: 12rem;

          }

          p {
            @include P3_16pt_regular;
            color: var(--a-9-a-9-a-9, #B1B7BD);
          }
        }
      }

      .g-cta-button {
        display: flex;
        width: fit-content;
        align-self: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .PostList {
    padding: 100rem 0;

    :global {
      .postList-container {
        gap: 60rem;

        .postList-head {
          h2 {
            @include H2_48pt_bold;
          }

          p {
            @include H4_26pt_medium;
          }
        }

        .postList-body {
          display: flex;
          flex-direction: row;
          gap: 60rem var(--Spacing-10, 40rem);

          article {
            width: calc(100%/3 - 27rem);

            img {
              width: 400rem;
              height: 266rem;
              margin-bottom: 32rem;
            }

            h4 {
              @include H4_26pt_bold;
            }

            p {
              @include P2_18pt_medium;
            }
          }
        }
      }
    }
  }
}